.add-form {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content:space-between;
    
    padding: 20px;
    margin: 20px;
    
    background-color:skyblue;

    border-radius : 15px;
}

.form-label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.add-input{
    border-radius: 5px;
    margin: 10px;

    height: 20px;
}

.add-button {
    border: none;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    width: 140px;
    color: #fff;
    font-weight: 700;
  }
.add-button:hover{
    cursor: pointer;
    background-color: black
}